
  <div class="center">
    <h1>Welcome to the Game Studio</h1>
  </div>
  <div class="center1">
     <button  id="simon" class="btn btn-primary" type="submit" formaction="/home/play/simon">
      Play Simon
    </button>
    <button  id="hangman" class="btn btn-primary" type="submit" formaction="/home/play/hangman">
      Play Hangman
    </button>
  </div>
    <button id="back" class="btn btn-primary">Back</button>

<script>
  const back = document.getElementById('back')
  const simon = document.getElementById('simon')
  const hangman = document.getElementById('hangman')

  back.onclick = () => {
    window.location.replace('/home')
  }

  simon.onclick = () => {
    window.location.replace('/home/play/simon')
  }

  hangman.onclick = () => {
    window.location.replace('/home/play/hangman')
  }

</script>