
<form class="container" action="get">
    <button id="game1" type="submit" formaction="/home/play/simon">
        Simon
    </button>

    <button id="game2" type="submit" formaction="/home/play/hangman">
        Hangman
    </button>

    <button id="back" type="submit" formaction="/home">
        Back
    </button>
</form>