<form action="get">
  <div class="center">
    <h1>Welcome to game studio</h1>
  </div>
  <div class="center1">
     <button  class="btn btn-primary" type="submit" formaction="/home/play/simon">
      Play Simon
    </button> &nbsp;&nbsp;&nbsp;
    <button  class="btn btn-primary" type="submit" formaction="/home/play/hangman">
      Play Hangman
    </button>
  </div>
</form>

<link rel="stylesheet" type="text/css"  href="/css/chooseGame.css">