
    <button id="simon" type="button" >
        Simon
    </button>

    <button id="hangman" type="button">
        Hangman
    </button>

    <button id="back" type="button">
        Back
    </button>


<script>
    backButton = document.getElementById("back")
    simonButton = document.getElementById("simon")
    hangmanButton = document.getElementById("hangman")

    backButton.onclick = () => {
        window.location.replace('/home')
    }
    simonButton.onclick = () => {
        window.location.replace('/home/play/simon')
    }
    hangmanButton.onclick = () => {
        window.location.replace('/home/play/hangman')
    }
</script>