<div class="container">

    <h1> Choose a Pet </h1>

    <form method="post" action="/home/createPet">

        <div class="buttonContainer">
            <label for="design1 ">Design 1</label>
            <input type="radio" id="design1" name="design" class="design" value="1">

            <label for="design2">Design 2</label>
            <input type="radio" id="design2" name="design" class="design" value="2">

            <label for="design3">Design 3</label>
            <input type="radio" id="design3" name="design" class="design" value="3">
        </div>

        <label for="name">Pet Name:</label>
        <input type="text" id="name" name="name">

    </form>

</div>