<div class="main-container">
    <h1>Uh-oh! Dev-agotchi suffered an internal error!</h1>

    <div id="description">
        <p id="intro"> This is probably on our end...</p>
        <p id="intro"> {{error}} </p>
    </div>

    <div id="links">
        <div><a href="/home">Go Back Home (or to Login)</a></div>
    </div>

</div>