<div class="wrapper">
  <div id="title">
    <h1>Hangman Game</h1>
  </div>
  
  <h2>Choose the alphabet below to guess the word.</h2>
  <div class="letter-div">
    {{#each alphabets}}
    <button class="alpha btn btn-primary" style="display: inline-block;">{{this}}</button>
    {{/each}}
  </div><br>
  <p>Get a hint if you need any help</p> <br>
  <div class="hint-div hidden">
    <p>Hint:-</p>
    <p class="hint-txt">Sample Hint for test</p>
  </div>
  <p id="selectedword" style="display: none;">{{hintword}}</P>
  <div class="word-div">
    {{#times hintword.length}}
    <p class="word">_</p>
    {{/times}}
  </div>
  <h3>Remaining Lives: <span id="lives">{{lives}}</span></h3>
  <div class="row hint-div">
    <button class="hint-btn btn btn-primary" style="display: inline-block;float:right;">Hint</button>
    &nbsp; &nbsp;
    <form method="get" url="/home/play">
      <button id="game2" class="btn btn-primary" style="display: inline-block;margin-left:800px" type="submit"
        formaction="/home/play">
        Back To Game studio
      </button>
    </form>
  </div>
</div>
<div class="notif hidden">
  <h3>Game Over !</h3>
  <h3 class="notif-content">You won</h3>
  <h4>Correct Word: <span class="notif-span"></span></h4>
  <form method="get" url="/home/play/hangman">
    <button type="submit" class="notif-btn btn btn-primary" style="display: inline-block;"
      formaction="/home/play/hangman">Play Again</button>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/hangman.js"></script>
