<div class="container">
    <div class="petContainer">

        <div id="pen" class="pen">
            {{!-- two.js creates a canvas in this div --}}
        </div>

        <div class="status">
            <label>Health</label>
            <progress id="healthBar" max="100">Health</progress>
            <label>Food</label>
            <progress id="foodBar" max="100">Food</progress>
            <label>Happiness</label>
            <progress id="happinessBar" max="100">Happiness</progress>
            <label>Cleanliness</label>
            <progress id="cleanlinessBar" max="100">Cleanliness</progress>
            <label>Rest</label>
            <progress id="restBar" max="100">Rest</progress>
        </div>

        <div class="selectorContainer">
            <select name="hat" id="hatSelector">
                <option id='hat0' value="0">None</option>
                <option id='hat1' value="1" disabled="true">Hat 1</option>
                <option id='hat2' value="2" disabled="true">Hat 2</option>
                <option id='hat3' value="3" disabled="true">Hat 3</option>
            </select>
            <select name="bg" id="bgSelector">
                <option id='bg0' value="0">None</option>
                <option id='bg1' value="1" disabled="true">Background 1</option>
                <option id='bg2' value="2" disabled="true">Background 2</option>
                <option id='bg3' value="3" disabled="true">Background 3</option>
            </select>
        </div>

    </div>
    <div class="buttonContainer">
        <button id="profileButton" type="button">profile</button>
        <button id="feedButton" type="button">feed</button>
        <button id="playButton" type="button">play</button>
        <button id="cleanButton" type="button">clean</button>
        <button id="storeButton" type="button">store</button>
    </div>

</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/two.min.js"></script>
<script src="/public/js/pet.js"></script>