<div class="container">
    <div class="petContainer">

        <div class="pen">
            <canvas id="canvas"></canvas>
                    {{!-- <div id="pet"></div> --}}
        </div>

        <div class="status">
            <label>Health</label>
            <progress id="healthBar" max="100">Health</progress>
            <label>Food</label>
            <progress id="foodBar" max="100" >Food</progress>
            <label>Happiness</label>
            <progress id="happinessBar" max="100">Happiness</progress>
            <label>Cleanliness</label>
            <progress id="cleanlinessBar" max="100"®>Cleanliness</progress>
        </div>

    </div>


        <div class="buttonContainer">
            <form action="/home/profile" method="post">
                <button id="profileButton" type="submit">profile</button>
            </form>
            <button id="feedButton" type="none">feed</button>
            <button id="playButton" type="none">play</button>
            <button id="cleanButton" type="none">clean</button>
        </div>

</div>
        <script src="/public/js/pet.js"></script>