<div class="main-container">
    <h1>Dev-agotchi: A Virtual Pet</h1>

    <div id="description">
        <p id="intro"> Need to introduce your child to a responsible life style?</p>
        <p id="intro"> Want to introduce compassion and care without the hassles of a real pet? </p>
        <p id="intro"> Dev-agotchi is a website where families could introduce the basic life skills to their children at an early age. Pets have been used to teach responsiblity to young kids. Our website bring to the experiance of a pet to the world wide web, understanding that many families cannot afford a physical pet. At the creation of an account, the child, or player, will be about to create a pet, based on three designs. In order to keep the pet alive, the child has to feed, clean, play, and make the pet happy. If the child fails to keep up with the pet, then the pet will pass away, and the child will get to create a new pet.</p>
        <p id="slogan"> Time to get your favorite dev-companion! </p>
    </div>

    <div id="links">
        <div><a href="/register">Sign Up Today!</a></div>
        <div><a href="/login">Already have an account? Login now!</a></div>
    </div>

</div>