<h1> Pet Name </h1>

<u1 id="pet-stats">
    <li>Food</li>
    <li>Cleanliness</li>
    <li>Happiness</li>
    <li>Rest</li>
    <li>Last Fed</li>
    <li>Last Cleaned</li>
    <li>Last Played With</li>
    <li>Hat</li>
    <li>Background</li>
</u1>

<a href="/home">Back</a>
<a href="/logout">Logout</a>