<div class="main-container">

    <h1>Register an Account</h1>

    <div class="form-container">
        <form id="login-form" method="POST" action="/register">

            <div class="username-container">
                <label for="usernameInput">Username:</label>
                <input type="text" name="usernameInput" id="usernameInput" placeholder="Username">
            </div>

            <div class="password-container">
                <label for="passwordInput">Password:</label>
                <input type="password" name="passwordInput" id="passwordInput" placeholder="Password">
            </div>

            <div class="button-container">
                <button type="submit">Enter</button>
            </div>

        </form>
    </div>

    <a href="/login">Already have an account? Click here to log-in</a>

</div>