
<div id="title">
    <h1>Simon Memory Game</h1>  
</div>

<button type="button" class="start btn btn-lg">Start</button>
<div class="main-container" style="display: none;">
    <div class="main-row">
        <div type="button" id="green" class="button green">
        </div>
        <div type="button" id="red" class="button red">
        </div>
    </div>
    <div class="main-row">
        <div type="button" id="yellow" class="button yellow">
        </div>
        <div type="button" id="blue" class="button blue">
        </div>
    </div>
</div>

<form method="get" url="/home/play">
    <button id="game2" class="btn btn-primary" type="submit" formaction="/home/play">
        Back To Game studio
    </button>
</form>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/simon.js"></script>
