<div class="container">
    <h1>Store Page</h1>

    <form method="post">
        <div class="itemContainer">

            <div class="hatContainer">
                <label for="hat1">Hat 1</label>
                <button id="hat1" class="hat" formaction="/home/store/hat1">See Item</button>

                <label for="hat2">Hat 2</label>
                <button id="hat2" class="hat" formaction="/home/store/hat2">See Item</button>

                <label for="hat3">Hat 3</label>
                <button id="hat3" class="hat"  formaction="/home/store/hat3">See Item</button>

            </div>

            <div class="bgContainer">
                <label for="bg1">Background 1</label>
                <button id="bg1" class="bg" type="submit" formaction="/home/store/bg1">See Item</button>

                <label for="bg2">Background 2</label>
                <button id="bg2" class="bg" type="submit" formaction="/home/store/bg2">See Item</button>

                <label for="bg3">Background 3</label>
                <button id="bg3" class="bg" type="submit" formaction="/home/store/bg3">See Item</button>
            </div>

        </div>

    </form>
    <button id="back" type="button" formaction="/home">
        back
    </button>
</div>
<script>
    backButton = document.getElementById("back")
    backButton.onclick = () => {
        window.location.replace('/home')
    }
</script>