<h1>{{title}}</h1>

<form action="get">

    <p>You have {{points}} points</p>
    <p>Purchase for {{price}} points</p>
    <button id="buy" formaction="/home/store">
        Buy
    </button>
    <button id="back" formaction="/home/store">
        back
    </button>
</form>