#intro{
    font-family:monospace;
    font-size: 20px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* {
    background-color: #faebd7;
}
#description{
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    text-indent: 20px;
    line-height: 45px;
}
#slogan{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h1{
    font-size: 70px;
    font-style: italic;
    color:#025d2e;
}

a:link {
    color: #025d2e;
    text-decoration-line: none;
}

a:hover {
    color: lawngreen;
    text-decoration-line: none;
}

a:visited {
    color:darkgreen;
    text-decoration-line: none;
}

#links{
    font-size: 20px;
}

div {
    text-align: center;
}

#logout{
    margin-top: 10%;
    margin-bottom: 5%;
}
.intro {
    font-family:monospace;
    font-size: 20px;
}