* {
    background-color: antiquewhite;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-container, .password-container, .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 10%;
}

label {
    margin: 2%;
}