* {
    background-color: antiquewhite;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container, .button-container {
    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
}

.input-container:first-child {
    margin-top: 1rem;
}

.input-container:last-child {
    margin-bottom: 1rem;
}

label {
    margin: 0.2rem;
}

.error {
    text-align: center;
    margin: 0rem;
}

a{
    font-size: 20px;
    padding-top: 50px;
}

a:link {
    color: seagreen;
    text-decoration-line: none;
}

a:hover {
    color: lawngreen;
    text-decoration-line: none;
}

a:visited {
    color:darkgreen;
    text-decoration-line: none;
}

h1{
    font-size: 70px;
    font-style: italic;
    color:seagreen;
}