* {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    border: solid black thick;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.petContainer {
    border: dotted red thick;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pen {
    border: dashed purple thick;
    margin: 2%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.status {
    border: dashed blue thick;
    margin: 2%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2%;
}

.buttonContainer {
    border: dotted green thick;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#feedButton {
    width: 10%;
    height: 70%;
}
#playButton {
    width: 10%;
    height: 70%;
}
#cleanButton {
    width: 10%;
    height: 70%;
}

#pet {
    background-color: red;

    width: 15%;
    height: 20%;
    animation: idle 1s infinite;
}

@keyframes idle{
    0% {background-color: red;}
    50% {background-color: green;}
    100% {background-color: red;}
    
}