* {
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: #faebd7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black thick;
    width: 100%;
    height: 100%;
}

h1 {
    margin-top: 5%;
    border: dotted red thick;
    padding:10px;
}

#petStats {
    border: dotted #0370b1 thick;
    list-style-type: none;
    padding: 5%;
    margin: 5%;
    font-size: 20px;
}

.links {
    border: dotted green thick;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

a:link{
    color: black;
    font-size: 18px;
}
a:hover{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
a:visited{
    color: black;
    font-size: 18px;
    text-decoration: none;
}